/* ------------------------------------- DESIGN ------------------------------------ */

body,textarea,input {
   font-family: Myriad Pro, Trebuchet MS, Tahoma, Arial, Helvetica;
}
body {
  font-size: 11pt;
}
td,div,p,body,textarea {
  font-size: 14px;
  color: #222;
}
a {
  text-decoration: none;
  cursor: pointer;  
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  font-size: 20px;
  font-style: italic;
}
a {
  color: #04c;
}
.banner {
  background: #ffc;
  color: red;
}
input[type=text] {
  font-size: 98%;
}
input[type=text]:focus {
  background: #ffc;
}
.smalltext, .smalltext a {
  color: gray;
  font-size: 9pt;
}
.smalltext a:hover {
	color: #04c;
}
#submenu a {
  background: #eee;
  color: #333;
  text-decoration: none;
}
#submenu a:hover, #mainmenu a:hover {
  background: #0073ea url('../../ext/jqueryui/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png') 50% 50% repeat-x;
  color: white;
}
#submenu div.active a {
  color: #04c;
  background: #ddd;
}
#submenu div.active {
  background-image: url('submenuindicator30.png');
  background-position: right;
  background-repeat: no-repeat;
}
#submenu div.active a:hover {
  color: #000;
}
.submenushadow {
  background: url(submenuback30.png);
}
.datatable {
  background: #cde;
}
.datatable td {
  background: #fff;
}
.errormsg {
  background: #fb8;
}
.element-readonly {
  color: gray;
}
.balloon, .balloonhelp {
  color: #58a;
}
blockquote {
  color: green;
}
.win {
  font-weight: bold;
  color: green;
}
.fail, .merde {
  font-weight: bold;
  color: red;
}
noscript div {
  background: #888;
  opacity: 0.7;
}
noscript p {
  background: #ffffcc;
  color: red;
  font-weight: bold;  
}
#bgbar {
  background: url(bgback2.png) #fff;
}
h1, h1 a, #mainmenu a {
  color: #5ae;  
}
#mainmenu a:hover {
  color: white;
  text-decoration: none;
}
#mainmenu a.active {
  color: #fff;
}
.springpane, .springpane a, .springpane .balloonhelp, .springpane h3 {
  color: #ccc;
}
.springpane a {
  text-decoration: underline;
}
.springpane {
  background: url(springpane-bg1.png) #444;
}
.springpane_back {
  background: url(springpane-bgb.png) #444;
}
h1, .pretentious_citation {
  font-family: Times New Roman; 
}
.pretentious_citation, .paragraph {
  font-size: 20px;
  color: gray;
}
.pretentious_citation a, .paragraph a {
  text-decoration: underline;
}
.pretentious_citation {
  font-style: italic;
}
.pretentious_citation em {
  color: black;
}
.emphasis {
  font-weight: bold;
}
sup {
  font-size: 50%;
}
h1 span {
  vertical-align: text-bottom;
  font-size: 70%;
}
.postmeta, .comment_meta {
  font-size: 9pt;
  color: gray;
}
.postmeta a {
  color: gray;
}
.post:hover a {
  color: #04c;
}
.post_actions div {
  font-size: 9pt;
}
.post_pseudocomment {
  border: 1px solid #ccc;
  color: #ccc;
}
.blurp_post, .comment_item, .comment_item div {
  font-size: 9pt;
}
.blurp_post, .comment_item {
  background: #eee;
}
.smallbtn {
	font-size: 9pt;
}
.blurp_post {
	background: none;
}
.result_box {
  background: #ffe; 
}
.green {
  color: green;
}
.gray {
  color: gray;
}
.red {
  color: red;
}
.masbox {
  background: #ccc;
}
.notice_me {
  background: #dfc; 
}
.action_tile {
  background: #fff; 
}

/* ------------------------------------- LAYOUT ------------------------------------ */
body {
  line-height: 150%;
  margin: 0px;
  padding: 0px;
  margin-top: 44px;
  margin-left: 160px;
}
textarea {
  padding: 10px;
  border: 1px solid #ccc;
}
img {
  border: 0;
}
h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}
.hubbub_logo {
  font-style: italic; 
}
.balloonhelp {
  padding-top: 8px;
  padding-bottom: 8px;
}
.banner {
  border: 1px solid gray;
  padding: 8px;
  margin-bottom: 8px;
}
.form-td-caption {
  width: 140px;
}
input[type=text] {
  border: 1px solid #ccc;
  padding: 3px;
  width: 99%;
}
#content {
  min-height: 640px;
  padding-top: 4px;
}
.centered, .foottext {
   text-align: center;
}
#submenu {
  position: fixed;
  left: 0;
  top: 45px;
  width: 160px;
}
#submenu a {
  padding: 8px; 
  display: block;
  width: 131px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}
.submenushadow {
  height: 16px;
}
.datatable {
  width: 100%;
}
.datatable th {
  text-align: left;
}
.errormsg {
  border: 1px solid red;
  border-top: 0px;
  padding: 2px;
}
noscript div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
noscript p {
  position: absolute;
  border: 3px solid red;
  padding: 16px;
  left: 30%;
  right: 30%;
  top: 100px;
}
#bgbar {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#mainmenu {
  padding-top: 1px;
}
#mainmenu a {
  display: inline-block;
  padding: 9px;
}
.springpane a {
  text-decoration: underline;
}
.springpane {
  margin-top: -1px;
  padding: 8px;
  height: 256px;  
}
.springpane_back {
  position: absolute;
  left: 0px;
  top: 43px;
  height: 256px;
  right: 0px;
  padding: 8px;
  z-index: -100;
}
.pretentious_citation, .paragraph {
  margin: 16px;
  line-height: 140%;
}
.pretentious_citation a, .paragraph a {
  text-decoration: underline;
}
h1 span {
  vertical-align: text-bottom;
}
.post {
  min-height: 74px;
  margin-bottom: 8px;
}
.postimg {
  float: left;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.postcontent {
  margin-left: 72px;
}
.post_actions {
  width: 100%; 
}
.post_actions textarea {
  width: 100%;
}
.post_pseudocomment {
  margin-top: 2px;
  padding: 2px;
  border: 1px solid #ccc;
}
.comment_entry {
  min-height: 36px;
}
.comment_img {
  float: left;
  width: 32px;
  height: 32px;
  overflow: hidden; 
}
.comment_text {
  margin-left: 40px;
	line-height: 150%;
}
.blurp_post, .comment_item {
	padding: 4px;
	margin-bottom: 1px;
}
.smallbtn {
	padding: 1px;
}
.blurp_post {
	margin-left: 54px;
	line-height: 150%;
}
.blurp_excerpt {
	margin-left: 16px;
}
.result_box {
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ac8;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.masbox {
  margin: 4px;
  float: left;
  border: 1px solid gray;
  padding: 4px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.notice_me {
  border: 1px solid #ccc;
  padding: 6px;
  -moz-border-radius: 8px;
  border-radius: 8px;   
}
.action_tile {
  padding: 4px;
  margin: 4px;
  -moz-border-radius: 8px;
  border-radius: 8px;   
  border: 1px solid #ccc;
}
#publisher {
  width: <?= CSS_COL_QUANTUM*4 ?>px;
}
.dynamic_box {
  margin: 5px;
  float: left;
}
.post_item {
  width: <?= CSS_COL_QUANTUM*2-10 ?>px; 
}
.post_type_notice {
  width: <?= CSS_COL_QUANTUM*4-10  ?>px; 
}




