<?

$stdMargin = '8px';
$bgAttention = '#ffc';
$borderColor = '1px solid #dddddd';
$borderBanner = '1px solid #cb8';
$textColor = '#333333';
$lightText = '#999999';
$boxShadowDef = '0px 0px 5px #ccc';
$colorBoxShadowDef = '0px 0px 5px '.$darkerColor;

$roundedBorders = '  -moz-border-radius: '.$stdMargin.';
  -webkit-border-radius: '.$stdMargin.';
  border-radius: '.$stdMargin.';';
  
$boxShadow = '  box-shadow: '.$boxShadowDef.';
  -moz-box-shadow: '.$boxShadowDef.';
  -webkit-box-shadow: '.$boxShadowDef.';';

$colorBoxShadow = '  box-shadow: '.$colorBoxShadowDef.';
  -moz-box-shadow: '.$colorBoxShadowDef.';
  -webkit-box-shadow: '.$colorBoxShadowDef.';';

?>/* ------------------------------------- DESIGN ------------------------------------ */

body,textarea,input {
   font-family: Myriad Pro, Trebuchet MS, Tahoma, Helvetica, Arial;
}
td,div,p,body,textarea,input {
  font-size: 10.5pt;
  color: <?= $textColor ?>;
}
textarea,input {
  color: #000; 
}
a {
  text-decoration: none;
  cursor: pointer;  
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  font-size: 20px;
  font-style: italic;
}
a {
  color: <?= $linkColor ?>;
}
.btn:hover, input[type=button]:hover, #submenu a:hover {
  text-decoration: none;
  <?= $boxShadow ?>
}
.banner {
  <?= css_gradient($bgAttention, '#ffffff') ?>
  <?= $boxShadow ?>
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  <?= css_gradient($bgAttention, '#ffffff') ?>
}
.smalltext, .smalltext a {
  color: <?= $lightText ?>;
  font-size: 9pt;
}
.smalltext a:hover {
	color: <?= $linkColor ?>;
}
#submenu a {
  background: <?= $lightGrayBackground ?>;
}
#submenu a:hover {
  <?= $mouseOver ?>
  color: white;
}
#submenu div.active a {
  background: #ddd;
}
#submenu div.active {
  background-image: url('submenuindicator30.png');
  background-position: right;
  background-repeat: no-repeat;
}
#submenu div.active a:hover {
  color: <?= $textColor ?>;
}
.xsubmenushadow {
  background: url(submenuback30.png);
}
.balloon, .balloonhelp, .element-readonly {
  color: <?= $lightText ?>;
}
.win {
  font-weight: bold;
  color: green;
}
.smallwin {
  color: gray;
  font-size: 90%;
}
.fail, .merde {
  font-weight: bold;
  color: red;
}
noscript div {
  background: #888;
  opacity: 0.7;
}
.errormsg, noscript p {
  <?= css_gradient($bgAttention, '#ffcc99') ?>
  color: red;
  font-weight: bold;  
}
#bgbar {
  <?= css_gradient($baseColor, $lighterColor) ?>
}
#mainmenu a:hover {
  background: <?= $lighterColor ?>;
}
#mainmenu a.active {
  color: <?= $veryLightColor ?>; 
  <?= css_gradient($darkerColor, $baseColor) ?>
  <?= $colorBoxShadow ?>
}
#mainmenu a {
  text-decoration: none;
  color: <?= $veryLightColor ?>;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  <?= $roundedBorders ?>
}
.emphasis {
  font-weight: bold;
}
sup {
  font-size: 50%;
}
h1 span {
  vertical-align: text-bottom;
  font-size: 70%;
}
.postmeta, .comment_meta {
  font-size: 9pt;
  color: <?= $lightText ?>;
}
.postmeta a {
  color: <?= $lightText ?>;
}
.post:hover a {
  color: <?= $linkColor ?>;
}
.post_actions div {
  font-size: 9pt;
}
.post_pseudocomment {
  border: <?= $borderColor ?>;
  color: <?= $lightText ?>;
}
.blurp_post, .comment_item, .comment_item div {
  font-size: 9pt;
}
.blurp_post, .comment_item {
  background: <?= $lightGrayBackground ?>;
}
.smallbtn {
	font-size: 9pt;
}
.blurp_post {
	background: none;
}
.green {
  color: green;
}
.gray {
  color: gray;
}
.red {
  color: red;
}
.notice_me, .masbox {
  background: <?= $lightGrayBackground ?>; 
}
.biggray {
  font-size: 48px;
  color: <?= $lightText ?>;
}
.infomarker {
  color: <?= $lightText ?>;
  font-style: italic; 
}
.bubble {
  background: <?= $lightGrayBackground ?>;  
  width: 250px;
}
.clear {
  background: none; 
}
.paragraph {
  text-align: justify; 
}


/* ------------------------------------- LAYOUT ------------------------------------ */
body {
  line-height: 155%;
  margin: 0px;
  padding: 0px;
  margin-top: 44px;
  margin-left: 160px;
}
textarea {
  padding: 10px;
  border: <?= $borderColor ?>;
}
img {
  border: 0;
}
h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}
h2 {
  margin-bottom: <?= $stdMargin ?>; 
  color: <?= $lightText ?>;
}
.hubbub_logo {
  font-style: italic; 
  font-weight: bold;
}
.balloonhelp {
  padding-top: <?= $stdMargin ?>;
  padding-bottom: <?= $stdMargin ?>;
}
.banner {
  border: <?= $borderBanner ?>;
  padding: <?= $stdMargin ?>;
  margin-bottom: <?= $stdMargin ?>;
}
.form_section {
  color: gray;
  margin-left: 144px; 
  margin-top: <?= $stdMargin ?>;
}
.form-td-caption {
  width: 140px;
  text-align: right;
  vertical-align: middle;
}
input[type=text],input[type=password] {
  border: <?= $borderColor ?>;
  padding: 3px;
  width: 99%;
}
#content {
  min-height: 640px;
  padding-top: 4px;
}
.centered, .foottext {
   text-align: center;
}
#submenu {
  position: fixed;
  left: 0;
  top: 45px;
  width: 150px;
}
#submenu a {
  padding: <?= $stdMargin ?>; 
  display: block;
  width: 122px;
  <?= $boxShadow ?>
  border-bottom: 1px solid <?= $borderColor ?>;
  border-right: 1px solid <?= $borderColor ?>;
}
.submenushadow {
  height: 16px;
}
.datatable {
  width: 100%;
}
.datatable th {
  text-align: left;
}
.errormsg {
  border: <?= $borderColor ?>;
  border-top: 0px;
  padding: 2px;
}
noscript div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
noscript p {
  position: absolute;
  border: 3px solid red;
  padding: 16px;
  left: 30%;
  right: 30%;
  top: 100px;
}
#bgbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#mainmenu a {
  display: inline-block; 
  padding: 4px;
  margin: 6px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
h1 span {
  vertical-align: text-bottom;
}
.post {
  min-height: 74px;
  margin-bottom: <?= $stdMargin ?>;
}
.postimg {
  float: left;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.postcontent {
  margin-left: 72px;
}
.post_actions {
  width: 100%; 
}
.post_actions textarea {
  width: 100%;
}
.post_pseudocomment {
  margin-top: 2px;
  padding: 2px;
  border: <?= $borderColor ?>;
}
.comment_entry {
  min-height: 36px;
}
.comment_img {
  float: left;
  width: 32px;
  height: 32px;
  overflow: hidden; 
}
.comment_text {
  margin-left: 40px;
	line-height: 150%;
}
.blurp_post, .comment_item {
	padding: 4px;
	margin-bottom: 1px;
}
.smallbtn {
	padding: 1px;
}
.blurp_post {
	margin-left: 54px;
	line-height: 150%;
}
.blurp_excerpt {
	margin-left: 16px;
}
.simple_border {
  border: <?= $borderColor ?>; 
}
.masbox {
  margin: 4px;
  float: left;
  border: <?= $borderColor ?>;
  padding: 4px;
  <?= $roundedBorders ?>
}
.notice_me {
  border: <?= $borderColor ?>;
  padding: 6px;
  <?= $roundedBorders ?>
}
.action_tile {
  padding: 4px;
  margin: 4px;
  border: <?= $borderColor ?>;
  <?= $roundedBorders ?>
}
#publisher {
  width: <?= CSS_COL_QUANTUM*4 ?>px;
}
.dynamic_box {
  margin: 5px;
  float: left;
}
.post_item {
  width: <?= CSS_COL_QUANTUM*2-12 ?>px; 
}
.post_type_notice {
  width: <?= CSS_COL_QUANTUM*4-12  ?>px; 
}
.installer {
  margin-right: 170px;
  margin-top: 12px; 
}
.biggray {
  text-align: right; 
  margin: <?= $stdMargin ?>;
}
.padded_extra {
  margin: <?= $stdMargin ?>;
  padding: <?= $stdMargin ?>; 
}
.login_pane {
  margin-right: 60px;
  margin-top: 12px;
  margin-left: -110px;
}